<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <h3>Student Registration Form</h3>
    </head>

    <body>
        <h3>Student Registration Form</h3>
        <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
            First name: <input type = "text" th:field="*{firstName}"/>
            <br><br>
            Last name: <input type = "text" th:field="*{lastName}"/>
            <br><br>
            Country:
            <select th:field="*{country}">
               <option th:each="country : ${countries}"
                  th:value="${country}"
                  th:text="${country}"></option>
            </select>
            <br><br>
            Favorite Language:
           <input type="radio"
               th:field="*{favoriteLanguage}"
               th:each="language : ${programmingLanguages}"
               th:value="${language}" th:text="${language}"/>
            <br><br>
            Operating Systems:
            <input type="checkbox" th:field="*{favoriteSystems}"
               th:each="system : ${operatingSystems}"
               th:value="${system}" th:text="${system}"/>
            <br><br>

            <input type="submit"/>
        </form>
    </body>

</html>
